<?xml version="1.0"?>
<robot name="uauv" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.1415926535897931"/>

  <!-- Body properties -->
  <xacro:property name="body_mass"        value="10"/>
  <xacro:property name="body_radius"      value="0.05"/>
  <xacro:property name="body_length"      value="1.163"/>
  <xacro:property name="X_cog"            value="-0.45"/>

  <!-- Variable buoyancy link -->
  <xacro:macro name="buoyancy_link" params="name xyz">

    <joint name="${name}" type="revolute">
      <parent link="base_link"/>
      <child link="${name}"/>
      <origin rpy="0 0 0" xyz="${xyz}"/>
      <axis xyz="0 1 0"/>
      <limit effort="0" velocity="5.0" lower="0" upper="0" />
    </joint>

    <link name="${name}">      
      <buoyancy>
        <variable compensation="3.0"/>
      </buoyancy>
      <inertial>
        <mass value=".1"/>
        <inertia
          ixx=".1"
          ixy="0.0"
          ixz="0.0"
          iyy=".1"
          iyz="0.0"
          izz=".1"/>
      </inertial>  
    </link>                 
  </xacro:macro>                   

  <gazebo>
    <!-- Freefloating gazebo plugin -->
    <plugin name="smtu_freefloating_gazebo_control" 
      filename="libsmtu_freefloating_gazebo_control.so">
      <switchService>switch</switchService>
      <updateRate>100</updateRate>
      <link>base_link</link>

      <!-- For each thruster, give the map to 
           XYZ+RPY and the maximum effort -->
      <thruster>
        <map>0 0 -1 0 -0.20168 0</map>
        <effort>30</effort>
      </thruster>
      <thruster>
        <map>0 0 -1 0 0.10238 0</map>
        <effort>30</effort>
      </thruster>
      <thruster>
        <map>-1 0 0 0 0 0.05828</map>
        <effort>30</effort>
      </thruster>
      <thruster>
        <map>-1 0 0 0 0 -0.05828</map>
        <effort>30</effort>
      </thruster>
    </plugin>
  </gazebo>

  <link name="base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://smtu_uauv/objects/uauv.dae"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 ${PI/2} 0"/>
      <geometry>
        <cylinder radius="${body_radius}" length="${body_length}"/>
      </geometry>
    </collision>

    <inertial>
      <origin xyz="0 0 ${-body_radius}" rpy="0 ${-PI/2} 0"/>
      <mass value="${body_mass}"/>
      <inertia
        ixx="${body_mass*(body_radius*body_radius/4+body_length*body_length/12)}"
        ixy="0.0"
        ixz="0.0"
        iyy="${body_mass*(body_radius*body_radius/4+body_length*body_length/12)}"
        iyz="0.0"
        izz="${body_mass*body_radius*body_radius/2}"/>
    </inertial>

    <buoyancy>
      <compensation>1.0</compensation>
      <origin xyz= "0 0 0"/>
      <limit radius=".1"/>
      <damping xyz="60 100 100" rpy="20 50 50"/>
    </buoyancy>
  </link>

  <xacro:buoyancy_link name="front" xyz="-0.474 0 0"/>
  <xacro:buoyancy_link name="rear" xyz="0.54 0 0"/>         
</robot>
