<?xml version="1.0"?>
<launch>
  <arg name="uwsim" default="true"/>

  <!-- Launch Gazebo with underwater world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" value="false" if="$(arg uwsim)"/>
    <arg name="paused" value="false"/>
    <arg name="world_name" 
      value="$(find smtu_uauv)/world/underwater.world"/>
  </include>

  <!-- include gazebo spawner (generated while parsing uwsim launcher) -->
  <include file="$(find smtu_uauv)/launch/uwsim_spawner.launch"/>

  <group ns="uauv">
    <!-- Load controller configurations (vehicle and arm) from YAML file to parameter server -->
    <rosparam file="$(find smtu_uauv)/config/uauv.yaml"
              command="load"/>

    <!-- Launch low-level PID control for body -->
    <!--node name="pid_control" pkg="freefloating_gazebo"
             type="pid_control" output="screen"/-->

    <!-- Manual thrusetrs control -->
    <group ns="thrusters">
      <param name="robot_description" 
             command="$(find xacro)/xacro --inorder 
                      $(find smtu_uauv)/urdf/uauv_thrusters_dummy.urdf"/>

      <node name="joint_state_publisher" 
            pkg="joint_state_publisher" 
            type="joint_state_publisher" 
            respawn="true">

        <param name="use_gui" value="True"/>
        <remap from="joint_states" to="/uauv/thruster_command"/>
      </node>
    </group>
  </group>

  <!-- Manual buoyants control -->
  <group ns="buoyants">
    <param name="robot_description" 
      command="$(find xacro)/xacro --inorder 
      $(find smtu_uauv)/urdf/uauv_buoyancy_dummy.urdf"/>
    <node name="joint_state_publisher"
      pkg="joint_state_publisher"
      type="joint_state_publisher"
      respawn="true">

      <param name="use_gui" value="True"/>
      <remap from="joint_states" to="/gazebo/buoyancy_joints"/>        
    </node>
  </group>
</launch>
